In [1]:
import json
import pandas as pd
import os

In [2]:
# read json
with open('fixed_res/Ours/dummy-data.pdf.json', encoding='utf8') as f:
    dummy_res = json.load(f)
with open('fixed_res/Ours/AF24_Alexander_Redman_Final.pdf.json', encoding="utf8") as f:
    redman_res = json.load(f)
with open('fixed_res/Ours/attention_paper.pdf.json', encoding="utf8") as f:
    attention_res = json.load(f)
with open('fixed_res/Ours/Astra_AR_2023 (15052024)_LR-1-220.pdf.json', encoding="utf8") as f:
    astra_ar_220_res = json.load(f)
with open('fixed_res/Ours/AR for improved learnability.pdf.json', encoding="utf8") as f:
    ar_res = json.load(f)
with open('fixed_res/Ours/Laporan Keuangan 2024 PT Hutama Karya (Persero).pdf.json', encoding='utf8') as f:
    HK2024_res = json.load(f)
with open('fixed_res/Ours/1445170a83_3be229d832.pdf.json', encoding='utf8') as f:
    BCA_1445_res = json.load(f)
with open('fixed_res/Ours/20250124-fy24-presentasi-perusahaan-v2.pdf.json', encoding='utf8') as f:
    BCA_FY24_res = json.load(f)
with open('fixed_res/Ours/20250424-1Q25-Presentasi-Perusahaan.pdf.json', encoding='utf8') as f:
    BCA_1Q25_res = json.load(f)
with open('fixed_res/Ours/20250415112157-2025-04-15ptba_presentasi_perusahaan112134.pdf.json', encoding='utf8') as f:
    PTBA_2025_res = json.load(f)
with open('fixed_res/Ours/20250507101938-2025-05-07ptba_presentasi_perusahaan101747.pdf.json', encoding='utf8') as f:
    PTBA_1Q25_res = json.load(f)

combined_input_res = dummy_res["pages"].copy() + redman_res["pages"].copy() + attention_res["pages"].copy() + astra_ar_220_res["pages"].copy() + ar_res["pages"].copy() + HK2024_res["pages"].copy() + BCA_1445_res["pages"].copy() + BCA_FY24_res["pages"].copy() + BCA_1Q25_res["pages"].copy() + PTBA_2025_res["pages"].copy() + PTBA_1Q25_res["pages"].copy()
text_input = []
for page in combined_input_res:
    text_input.append(page["text"])

print("len(text_input):", len(text_input))

len(text_input): 601

In [13]:
# read markdown target
with open('fixed_res/FineTune_Truth/benchmark_data.md', encoding='utf8') as f:
    dummy_target = f.read()
with open('fixed_res/FineTune_Truth/AF24_Alexander_Redman_Final.pdf.md', encoding='utf8') as f:
    redman_target = f.read()
with open('fixed_res/FineTune_Truth/attention_paper.pdf.md', encoding='utf8') as f:
    attention_target = f.read()
with open('fixed_res/FineTune_Truth/Astra_AR_2023 (15052024)_LR-1-220.pdf.md', encoding='utf8') as f:
    astra_ar_220_target = f.read()
with open('fixed_res/FineTune_Truth/AR for improved learnability.pdf.md', encoding='utf8') as f:
    ar_target = f.read()
with open('fixed_res/GT/benchmark-Laporan Keuangan 2024 PT Hutama Karya (Persero).pdf.md', encoding='utf8') as f:
    HK2024_md = f.read()
with open('fixed_res/GT/benchmark-1445170a83_3be229d832.pdf.md', encoding='utf8') as f:
    BCA_1445_md = f.read()
with open('fixed_res/GT/benchmark-20250124-fy24-presentasi-perusahaan-v2.pdf.md', encoding='utf8') as f:
    BCA_FY24_md = f.read()
with open('fixed_res/GT/benchmark-20250424-1Q25-Presentasi-Perusahaan.pdf.md', encoding='utf8') as f:
    BCA_1Q25_md = f.read()
with open('fixed_res/GT/benchmark-20250415112157-2025-04-15ptba_presentasi_perusahaan112134.pdf.md', encoding='utf8') as f:
    PTBA_2025_md = f.read()
with open('fixed_res/GT/benchmark-20250507101938-2025-05-07ptba_presentasi_perusahaan101747.pdf.md', encoding='utf8') as f:
    PTBA_1Q25_md = f.read()

md_target = []
for page in dummy_target.split("\n---\n"):
    if page.strip():
        md_target.append(page.strip())
for page in redman_target.split("\n\n---\n\n"):
    if page.strip():
        md_target.append(page.strip())
for page in attention_target.split("\n---\n"):
    if page.strip():
        md_target.append(page.strip())
for page in astra_ar_220_target.split("\n---\n"):
    if page.strip():
        md_target.append(page.strip())
for page in ar_target.split("\n---\n"):
    if page.strip():
        md_target.append(page.strip())
for page in HK2024_md.split("\n---\n"):
    if page.strip():
        md_target.append(page.strip())
for page in BCA_1445_md.split("\n\n---\n\n"):
    if page.strip():
        md_target.append(page.strip())
for page in BCA_FY24_md.split("\n\n---\n\n"):
    if page.strip():
        md_target.append(page.strip())
for page in BCA_1Q25_md.split("\n\n---\n\n"):
    if page.strip():
        md_target.append(page.strip())
for page in PTBA_2025_md.split("\n\n---\n\n"):
    if page.strip():
        md_target.append(page.strip())
for page in PTBA_1Q25_md.split("\n\n---\n\n"):  
    if page.strip():
        md_target.append(page.strip())

print("len(md_target):", len(md_target))

len(md_target): 601

In [14]:
# create a dataframe
df = pd.DataFrame(columns=["extracted_data", "reformatted_data"])
df["extracted_data"] = text_input
df["reformatted_data"] = md_target
df = df.dropna()
df = df.reset_index(drop=True)
df = df.drop_duplicates(subset=["extracted_data", "reformatted_data"])
df

,extracted_data,reformatted_data
0,PFU Business report\n\nNew customer's developm...,PFU Business report \n\nNo.068\n\n# New custom...
1,© unitED TRACTORS\n member of ASTRA\n\nPT UNIT...,# UNITED TRACTORS\nmember of ASTRA\n\n# PT UNI...
2,PT UNITED TRACTORS Tbk DAN ENTITAS ANAK/AND SU...,# PT UNITED TRACTORS Tbk DAN ENTITAS ANAK/AND ...
3,"SALES STATISTICS\n\nLARANA, INC. | 2024\n\nThi...","# SALES STATISTICS\n\nLARANA, INC. | 2024\n\nT..."
4,| Sheet1 | | | | | | |\n| --- | --- | --- | --...,Sheet 1\n\n| 0 | First Name | Last Name | Gend...
...,...,...
596,SUMNexz:.\n\nQ BukitAsam ©\n\nOUR FOCUS STRATE...,# OUR FOCUS STRATEGIC THEME FOR GROWTH\n\n## T...
597,UT een\n\nOUR FOCUS STRATEGIC THEME FOR GROWTH...,BUMN\n\nBukitAsam\n\n## OUR FOCUS STRATEGIC TH...
598,UT een\n\nQ BukitAsam ©\n\nOUR FOCUS STRATEGIC...,BUMN\n\nBukitAsam\n\n## OUR FOCUS STRATEGIC TH...
599,UT een\n\nForward-looking statements\n\nRee ce...,BUMN\n\nBukitAsam\n\n## Forward-looking statem...
600,Ua een\n\nQ BukitAsam ©\n\nThank You\n\nFor fu...,BUMN\n\nBukitAsam\n\nThank You\n\n**For furthe...

In [19]:
# open parquet file
df_pq = pd.read_parquet("fixed_res/0000.parquet")

# take 399 samples
df_pq = df_pq.sample(n=399, random_state=42)

df_pq

,extracted_data,reformatted_data
1501,INVOICE # INV-293934714\nDate: 2018-03-30\nBIL...,# INVOICE\n\n**Invoice #:** INV-293934714\n**D...
2586,STRUK PEMBAYARAN\n\n\nNama Bis;n`@is: Perum Ha...,# STRUK PEMBAYARAN\n\n**Nama Bisnis:** Perum H...
2653,MEMORANDUM\n\nKEPADA: Equities trader Departme...,# MEMORANDUM\n\n**KEPADA:** Equities trader De...
1055,EXPENSE REPORT\n\n\nEmployee Name: Ariana Mata...,# EXPENSE REPORT\n\n**Employee Name:** Ariana ...
705,MEMORANDUM\n\n\nTO: Illustrator Department\nFR...,# MEMORANDUM\n\n**TO:** Illustrator Department...
...,...,...
859,EXPENSE REPORT\nEmployee Name: Ivan Price\nEmp...,# EXPENSE REPORT\n\n**Employee Name:** Ivan Pr...
2753,PERIODE FINANCIAL SUMMARY\n\nPeriode: Q3 1976\...,# Periode Financial Summary\n\n**Periode:** Q3...
1632,EXPENSE REPORT\n\n\nEmployee Name: Alexandra S...,# EXPENSE REPORT\n\n**Employee Name:** Alexand...
1650,INVOICE # INV-766307751\n\n\nDate: 1981-12-30\...,# INVOICE\n\n**Invoice #:** INV-766307751\n**D...
3860,STRUK PEMBAYARAN Nama Bisnis: PT Iswahyudi Wib...,# STRUK PEMBAYARAN\n\n**Nama Bisnis:** PT Iswa...

In [21]:
# combine the two dataframes
df_combined = pd.concat([df, df_pq], ignore_index=True)
df_combined = df_combined.sample(frac=1, random_state=42).reset_index(drop=True)
df_combined = df_combined.drop_duplicates(subset=["extracted_data", "reformatted_data"])
df_combined = df_combined.reset_index(drop=True)
df_combined = df_combined.dropna()

df_combined

,extracted_data,reformatted_data
0,Analyst Meeting 1025) 1Q25 Performance Overvie...,BCA\nAlways by your side\n\n# 1Q25 Performance...
1,REKENING KORAN\n\n\nnOmOr RekEnING: Oynp272302...,# REKENING KORAN\n\n**Nomor Rekening:** OYNP27...
2,BANK STATEMENT\n\n\nAccount Number: NAGD316511...,# BANK STATEMENT\n\n**Account Number:** NAGD31...
3,STRUK PEMBAYARAN Nama Bisnis: PT Manullang Tan...,# STRUK PEMBAYARAN\n\n**Nama Bisnis:** PT Manu...
4,PT HUTAMA KARYA (PERSERO) DAN ENTITAS ANAK/ PT...,# PT HUTAMA KARYA (PERSERO) DAN ENTITAS ANAK/ ...
...,...,...
995,ASTRA\n\nIkhtisar Highlights\n\nPeristiwa Pent...,ASTRA\n\n**Ikhtisar Highlights**\n\nLaporan Ma...
996,ASTRA\n\nIkhtisa 7\n aporan Manajemen\n\nAutom...,ASTRA\n\nIkhtisar Highlights\n\nLaporan Manaje...
997,PERIOD FINANCIAL SUMMARY\n\n\nPeriod: Q3 2011 ...,# Period Financial Summary\n\n**Period:** Q3 2...
998,PT HUTAMA KARYA (PERSERO) DAN ENTITAS ANAK/ PT...,# PT HUTAMA KARYA (PERSERO) DAN ENTITAS ANAK/ ...
999,ASTRA\n\nIkhtisar Highlights\n\nLaporan Manaje...,ASTRA\n\n**Ikhtisar Highlights**\n\nLaporan Ma...

In [ ]:
# save the dataframe to a csv file
df_combined.to_csv("fixed_res/text-to-md.csv", index=False, encoding="utf-8-sig")

:

# Gemini Dataset

In [ ]:
# read the csv file
df = pd.read_csv("fixed_res/gemini-generated-data.csv", encoding="utf-8-sig")
df

ParserError: Error tokenizing data. C error: Expected 3 fields in line 80, saw 4